/* custom styles */
div#glbheader {
	width: 100%;
	height: 93px;
	background-color: #ffffff;
	border: 2;
	margin: 30px; 
}

.topMenu {
	font-family: 'Gotham SSm A', 'Gotham SSm B'; 
	font-weight: 700; 
	font-style: normal;
}

div#social {
	width: 73px;
	background-color: #aaaaaa
}

.icon-instagram {
	background: url(../assets/images/instagram.png);
}

.icon-facebook {
	background: url(../assets/images/facebook.png);
}

.icon-twitter {
	background: url(../assets/images/twitter.png);
}

.footer {
	width: 100%;
	height: 184px;
	background-color: #aaaaaa;
}